body{
    
    margin: 0px;
    padding: 0px;
    background-color: rgb(121, 128, 99);
    background-size: 30px;
    
}
li a button{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: honeydew;

}
a{
    text-decoration: none;
    padding: 0px 30px 0px 40px;
    font-size: 25px;
}
.navigation{
    display: flex;
    align-items: center;
    
}
li{
    list-style: none;
}
header{
    position:sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}


